@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "roboto";
}

.swiper-button-prev {
  background-image: url("./assets/images/arrow.png");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-left: 10px;
}
.swiper-button-next {
  background-image: url("./assets/images/arrow.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-right: 10px;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 16px;
  }
}


/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 7px;
  
}

 /* Track  */
::-webkit-scrollbar-track {
  background-color: #73f4c9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image:linear-gradient(180deg, #2bb594, #01b277) ;
  border-radius: 8px; 
 }  

